@media screen and (max-width: 576px) {
	.header {
		height: 500px;
	}

	.header_title {
		padding: 0.2rem;
	}

	.header_block {
		display: flex;
		flex-direction: column;
	}

  .header_block_text-1,
	.header_block_text-2, 
	.header_block_text-3 {
		border-right: none;
	}
}
